.enlinge {
    color: white;
    background-color: green;
    border: 2px solid green;
    padding: 2px;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
  
  }
  .avatar-sm {
    height: calc(1.5em + 1.2rem) !important;
    width: calc(1.5em + 1.2rem) !important;
  }
  .horslinge {
    color: white;
    background-color: red;
    border: 2px solid red;
    padding: 2px;
    border-radius: 10px;
    width: fit-content;  
    text-align: center;
  }
.messages{ 
    padding: .5rem;
    background-color: rgb(230, 234, 255);
    display: grid;
    border-radius: 10px;
    height: 67vh;
    width: 70vw;  }

  
.content{
  display: grid;
  gap: 5px;
  }

.left{
  display: flex;
  .content{
    justify-items: start;
    }
  p{
    background-color: aqua;
  }
}
.right{
      display: flex;
      justify-content: right;
      .content{
        justify-items: end;
        }
      p{
        background-color: rgb(0, 213, 213);
      }
}
.content p{
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 0;
    }
.content span{
font-size: x-small;
        }
.card{
    width: 100%;
    margin-bottom: 0rem;

    max-height: 64.5vh; /* Adjust as needed */
    
}

.chat-search .input-group-text i {
    -webkit-transition: all .25s ease 0s;
    transition: all .25s ease 0s;
    cursor: pointer;
  }
  .card-body {
    overflow-y: auto; 
    max-height: 46vh;
    display: grid;
    gap: 1rem;
}

  .input-group-append{
    background-color: white;
  }
  .chat-search .input-group-text i:hover {
    -webkit-transition: all .25s ease 0s;
    transition: all .25s ease 0s;
    -webkit-transform: translateY(-2px) scale(1);
    transform: translateY(-2px) scale(1);
  }
  .card-header,.card-footer{
    height: fit-content;
  }


  @media screen and (max-width:770px){ 
    .messages{ 
    width: fit-content;
    height: fit-content;
  }
  .card{ width: 82vw;  
    height: 60vh;
  }
}


