:host{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    background: linear-gradient(45deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);

}

mat-form-field{
    width: 20rem;
    height:5rem ;
}
.btn {
    width: 20rem;
    height:3rem ;}

.form {
    border-radius:10px;
    height: 30rem;
    width: 24rem;
    display: grid;
    justify-items: center;
    padding: 2rem;
    background-color: white; /* Steel Blue */
}
