<div class="demande">
    <div class="typeD"> 
        <i class="bi bi-arrow-left-circle-fill" routerLinkActive="List-item-active" routerLink="/dashboard/demandes/Ddemande"></i>
                        <p>DEMANDE D'AUTORISATION DE TELETRAVAIL</p>
    </div>
    <form class="form">
        <div class="E-Ju ">
            <label>Entité Juridique :</label>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" name="E-Juridique" id="saiph" value="saiph">
            <label class="form-check-label" for="saiph">Société SAIPH</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" name="E-Juridique" id="steripharm" value="steripharm">
            <label class="form-check-label" for="steripharm">Société STERIPHARM</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" name="E-Juridique" id="ifrikia-S" value="ifrikia-S">
            <label class="form-check-label" for="ifrikia-S">Société IFRIKIA SANTE</label>                
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="Text" class="form-control" id="nom_prenom"  value="Bassim Tabbeb" disabled>
            <label for="nom_prenom">Nom et prénom</label>
        </div>
        <div style="display: flex;flex-wrap: wrap; justify-content: space-around; ">
            <div class="form-floating mb-2">
                <input type="Text" class="form-control inputF" id="qualite"  value="Qualité" disabled>
                <label for="qualite">Employé en Qualité de</label>
            </div>
            <div class="form-floating mb-2">
                <input type="Text" class="form-control inputF" id="matricule"  value="FT23TG" disabled>
                <label for="matricule">Matricule</label>
            </div>
       
            <div class="form-floating mb-2">
                <input type="Text" class="form-control inputF" id="direction"  value="direction" disabled>
                <label for="direction">Direction</label>
            </div> 
        </div>
        <div style="display: flex;flex-wrap: wrap; justify-content: space-around; ">
            <div class="form-floating mb-2">
                <input type="Text" class="form-control inputF" id="Service"  value="Service" disabled>
                <label for="Service">Service</label>
            </div>

            <div class="form-floating mb-2">
                <input type="email" class="form-control inputF" id="qualite"  value="Bassim.tabbeb@gmail.com" disabled>
                <label for="qualite">Adresse Email</label>
            </div>
            <div class="form-floating mb-2">
                <input type="number" class="form-control inputF" id="matricule"  value="58208705" disabled>
                <label for="matricule">Téléphone</label>
            </div>
        </div>
        <div class="row g-4 align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Personne à contacter en cas de non joignabilité </label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control form-icon-trailing" id="date" >
            </div>
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Téléphone</label>
            </div>
            <div class="col-auto">
                <input type="number" class="form-control " id="date" control-id="ControlID-18">
            </div>
          </div>
          <div class="row g-4 align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Lieu du télétravail </label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control form-icon-trailing" id="date" >
            </div>
          </div>

          <div class="row g-4 align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Pour la periode</label>
            </div>
            <div class="col-auto">
                <input type="date" class="form-control form-icon-trailing" id="date" >
            </div>
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Au</label>
            </div>
            <div class="col-auto">
                <input type="date" class="form-control " id="date" control-id="ControlID-18">
            </div>
          </div>
          <label>Tout en assurant les tâches suivantes :</label>
          <textarea class="form-control" id="qualite"  value="Qualité" ></textarea>
          <button type="submit" class="btn btn-primary">Envoyer</button>

    </form>
</div>