<div class="demande">
    <div class="typeD"> 
        <i class="bi bi-arrow-left-circle-fill" routerLinkActive="List-item-active" routerLink="/dashboard/demandes/Ddemande"></i>
        <p>DEMANDE DE CONGE EXCEPTIONNEL</p>
    </div>
    <form class="form">
        <div class="E-Ju ">
            <label>Entité Juridique :</label>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" name="E-Juridique" id="saiph" value="saiph">
            <label class="form-check-label" for="saiph">Société SAIPH</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" name="E-Juridique" id="steripharm" value="steripharm">
            <label class="form-check-label" for="steripharm">Société STERIPHARM</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" name="E-Juridique" id="ifrikia-S" value="ifrikia-S">
            <label class="form-check-label" for="ifrikia-S">Société IFRIKIA SANTE</label>                
            </div>
        </div>
        <div class="form-floating mb-2">
            <input type="Text" class="form-control" id="nom_prenom"  value="Bassim Tabbeb" disabled>
            <label for="nom_prenom">Nom et prénom</label>
        </div>
        <div style="display: flex;flex-wrap: wrap; justify-content: space-evenly; ">
            <div class="form-floating mb-2">
                <input type="Text" class="form-control" id="qualite"  value="Qualité" disabled>
                <label for="qualite">Employé en Qualité de</label>
            </div>
            <div class="form-floating mb-2">
                <input type="Text" class="form-control" id="matricule"  value="FT23TG" disabled>
                <label for="matricule">Matricule</label>
            </div>
  
            <div class="form-floating mb-2">
                <input type="Text" class="form-control" id="direction"  value="direction" disabled>
                <label for="direction">Direction</label>
            </div>
            <div class="form-floating mb-2">
                <input type="Text" class="form-control" id="Service"  value="Service" disabled>
                <label for="Service">Service</label>
            </div>
        </div>
        <!-- <p style="margin-bottom: 0%;">Sollicite votre accord pour bénéficier conformément à la procédure d'un congé exceptionnel</p> -->
        <p style="margin-bottom: 0%;">Motif de :</p>
        <div class="E-Ju ">
            <div class="form-check">
            <input class="form-check-input" type="radio" name="MotifC" id="motif1" value="motif1">
            <label class="form-check-label" for="motif1">Mon mariage(3 jours)</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" name="MotifC" id="motif2" value="motif2">
            <label class="form-check-label" for="motif2">Naissance de mon enfant (2 jours)</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" name="MotifC" id="motif3" value="motif3">
            <label class="form-check-label" for="motif3">Circoncision de mon enfant (1 jour)</label>                
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" name="MotifC" id="motif4" value="motif4">
            <label class="form-check-label" for="motif4">Décès d'un frère, d'une sœur, d'un petit enfant, d'une petite fille, d'un grand-père ou d'une grand-mère (2 jours)</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" name="MotifC" id="motif5" value="motif5">
            <label class="form-check-label" for="motif5">Décès de mon conjoint (3 jours)</label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" name="MotifC" id="motif6" value="motif6">
            <label class="form-check-label" for="motif6">Décès de mon père/ de ma mère/ de mon enfant (3 jours)</label>                
            </div>
        </div>
        <div class="row g-4 align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Pour la periode</label>
            </div>
            <div class="col-auto">
                <input type="date" class="form-control form-icon-trailing" id="date" >
            </div>
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Au</label>
            </div>
            <div class="col-auto">
                <input type="date" class="form-control " id="date" control-id="ControlID-18">
            </div>
          </div>
          <div class="row g-4 align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Date de reprise prévue</label>
            </div>
            <div class="col-auto">
                <input type="date" class="form-control form-icon-trailing" id="date" >
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Envoyer</button>

    </form>
</div>