<div class="containe">
    <!-- <div class="entete">
        <h3>Profile</h3>
    </div> -->
 <div class="   left">
    <div class="img">
        <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Profile pic ">
        <div class="Ch-pic-btn">
                  <button type="button" class="btn btn-primary"><i class="bi bi-pencil"></i></button>
        </div>
    </div>
    <div class="pi">
    <div class="item">
        <p class="titre">Nom et prénom </p>
        <p class="value">Bassim Tabbeb</p>
    </div>
    <div class="item">
      <p class="titre">Email </p>
      <p class="value">Bassim.tabbeb{{'@'}}gmail.com</p>
    </div>
    <div class="item">
      <p class="titre">Télèphone </p>
      <p class="value">+216 58208705</p>
    </div>
    <div class="item">
      <p class="titre">Date de Naissance</p>
      <p class="value">11/02/2000</p>
    </div>
    <div class="item">
      <p class="titre">Poste</p>
      <p class="value">Développeur</p>
    </div>
 </div>

 </div>
<div class="center"></div>
<div class="right">
 
</div></div>