
.containe{
    background-color: white;
    border-radius:20px ;
    margin: .7rem;
    padding: 1rem;
    padding-bottom: 0rem;
    display: grid;
    gap: 0rem;

}

.entete{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:1rem;
    justify-content: space-between;

}
.img-fluid {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  

@media screen and (max-width:600px){  
        .containe{
        margin-top: .2rem;
        margin-left: 0rem;
        margin-right: 0rem;
        padding: .5rem;
        border-radius: 0%; 
        width: 100%;   
    }
  }
 @media screen and (max-width:400px){  
    .entete{
        display: grid;   
    }

}