<div class="containe">

    <div class="entete">
        <h3>Types de demande</h3>
        <button type="button" class="btn btn-success" routerLinkActive="List-item-active" routerLink="/dashboard/demandes/Mesdemande">Mes demandes</button>
        
    </div>
    <section class="sec4">
        <div class="li">      
            <div class="cl">
                <p class="demande" >Demande de congé </p>
            </div>
    
            <div class="cl">
              <p class="demande" >Demande de congé exceptionnel</p>
            </div>
            
            <div class="cl">
                <p class="demande" >Demande de D’autorisation de sortie </p>
            </div>
            
            <div class="cl">
                <p class="demande" >Demande de D’autorisation de télétravail </p></div>
             </div>
    
        <div class="li">
            <div class="cl">
                 <p class="demande" >Demande de changement Horaire de travail</p>
            </div>
            <div class="cl">
                <p class="demande" >Demande de D’autorisation de travail le dimanche </p>
            </div>
    
            <div class="cl">
                <p class="demande" >Demande D’acompte sur Salaire/prime </p>
            </div>
    
            <div class="cl">
                <p class="demande" >Demande de prêt</p>
            </div>
        </div>
    </section>
</div>